.hero-banner {
    background-color: #3b4e36; /* Dark green */
    height: 100px;
    display: flex;
    padding-left: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* background-image: linear-gradient(to bottom, #c5e5c2, #c5e5c2); 
    transition: background-image 0.5s ease-in-out;  */
}

/* .hero-banner:hover {
    background-image: linear-gradient(to bottom, #c5e5c2, #ddd); 
} */

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    color: #333;
    text-align: center;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}

p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50; /* green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3e8e41; /* darker green */
}

.main-nav {
    background-color: #2c2c2c; /* Dark grey */
    height: 50px;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

li {
    margin-left: 20px;
}

li:last-child {
    margin-right: 20px;
}

a {
    display: block;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
}

a:hover {
    background-color: #444; /* Slightly lighter grey */
}

.account-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 50px;
    
  }
  
  .account-icon {
    background-image: url('Images/CG.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
  }